<launch>
     <!-- gazebo launch with empty world and loading the new model we have created-->
    <include file ="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find autonomous_robots)/world/office_tb3.world"/>   
    </include>
    <!-- uploading urdf robot model into parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro"/>  
      
    <!-- Running the robot moving node -->
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard">
    </node>
    <!-- Slam Node running for creating map -->
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
        <arg name="slam_methods" value="gmapping"/>
    </include>    


</launch>