<launch>
     <!-- gazebo launch with empty world and loading the new model we have created-->
    <include file ="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find autonomous_robots)/world/office_tb3.world"/>   
    </include>
    <!-- uploading urdf robot model into parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro"/>  
      
    <!-- Running the robot moving node -->
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard">
    </node>

        <!-- using the map we saved earlier -->
    <arg name="map_file" value="$(find autonomous_robots)/map/map.yaml"/>
    
    <!-- Map_server package is used to handle mapp we saved -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>

    <!-- Adaptive monto carlo node running -->
    <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>

    <!-- Launching Rviz with no saved configuration -->
    <node pkg="rviz" type="rviz" name="rviz"/>


    <!-- publisher transform for all joint and thier inbetween relations -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name ="publish_frequency" type=" double" value="50.0"/>
    </node>

</launch>